@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
</head>
  
<body>
    <div class="container bg-overlay">
        <div class="text-center">
            <h1>Watch Shows and Movies</h1>
            <h1>Anytime, Anywhere</h1>
            <h4>
                From current episodes and original series, to kids shows and hit movies,<br />we have something for everyone.
            </h4>
            <br><br>
            <button type="button" class="btn btn-primary btn-lg">Get One Month Free</button>
        </div>
    </div>
</body>

</html>