
@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width" />
    <title>MyView</title>
</head>

<body>
    <div class="jumbotron">
        <h2>Index</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>This is body.</p>
        </div>
    </div>
</body>

</html>

