
@{
    ViewData["Title"] = "SignedHome";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <div class="row">
        <div class="column">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png" >
            <img src="~/images/poster3.png" >
            <img src="~/images/poster4.png" >
        </div>
        <div class="column">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster3.png">
            <img src="~/images/poster4.png">
        </div>
        <div class="column">
            <img src="~/images/poster3.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
        <div class="column">
            <img src="~/images/poster1.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
        <div class="column">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
        <div class="column">
            <img src="~/images/poster3.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
        <div class="column">
            <img src="~/images/poster1.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
        <div class="column">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
            <img src="~/images/poster2.png">
            <img src="~/images/poster1.png">
        </div>
    </div>
</body>

</html>
